@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Zinc-50 for background, Zinc-900 for text */
  --background: #fafafa;
  --foreground: #18181b;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Zinc-950 for background, Zinc-50 for text */
    --background: #09090b;
    --foreground: #fafafa;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden; /* Prevent body scroll, handled by AppLayout */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}
